{% extends "base.html" %}

{% block start %}

<div class="container mt-5">
    <h2 class="text-center">Guess the Lucky number 🎲</h2>

    <form action="#">

    <div class="form-group col-md-5 mx-auto">
        <label>Hope you win !!</label>
        <input class="form-control mt-1" id="input" placeholder="Guess the Number">
    </div>

    <div class="text-center mt-4">
        <button class="btn btn-success" type="button" onclick="checkLuck()">Check now</button>
    </div>

    </form>

</div>


<script>
    var lucky_number = "{{lucky_number}}"
    var input = document.getElementById("input")
    var count = 5
    console.log(lucky_number)

    function checkLuck() {
        var input = document.getElementById("input")
        if(input.value == "") {alert("Input cannot be blank")}

        if(count <= 1) {
            alert("You have exhausted all chances")
            return
        }

        count -= 1

        if(lucky_number == input.value){
            alert("WOW! You won 🏆")
            window.location.reload()
        }
        else if(lucky_number > input.value){
            alert(`Sorry, your guess number is too small\nTry again ${count} times`)
            input.value=""
        }

        else if(lucky_number < input.value){
            alert(`Sorry, your guess number is too big\nTry again ${count} times`)
            input.value=""
        }
    }

</script>

{% endblock %}